.App {
	text-align: center;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

.github_interface {
	padding-bottom: 160px;
}
#main_heading {
	margin-top: 10px;
	margin-bottom: 5px;
}

.external_link {
	color: #61dafb;
	text-decoration: none;
}

.search_data_input {
	padding: 8px 8px;
	font-size: calc(1px + 1.8vmin);
}

.action_btn {
	padding: 15px 32px;
	margin: 4px 10px;
	color: rgb(240, 235, 226);
	background-color: rgb(31, 33, 33);
	border-color: #585d5d;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	font-size: calc(1px + 1.8vmin);
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none;	/* Safari */
	-ms-user-select: none;	/* IE 10 and IE 11 */
	user-select: none;	/* Standard syntax */
	border-radius: 5px;
}
.action_btn.home_btn {
	padding: 5px 32px;
}
.action_btn.desc_btn {
	padding: 15px 20px;
}

.action_btn.user_search {
	padding-top: 8px;
	padding-bottom: 8px;
}
.action_btn.repo_search {
	padding-top: 8px;
	padding-bottom: 8px;
}


.user_profile {
	min-height: 190px;
	height: auto;
	margin-bottom: 32px;
	border-radius: 5px;
	border: solid whitesmoke;
}
.user_profile .profile_image {
	float: left;
	width: 140px;
	height: 140px;
	margin: 20px;
	border: solid #61dafb;
	border-radius: 50%;
	background: #555;
	cursor: pointer;
}
.user_profile .profile_username {
	position: relative;
	margin: 0;
	top: 30px;
	left: 0px;
	text-align: left;
	font-weight: bold;
}
.user_profile .profile_bio {
	text-align: left;
}

.repo_detail_div {
	float: right;
	max-width: 24vw;
	min-width: 24vw;
}
.repo_detail_div .repo_detail_header {
	margin-top: 0;
	margin-bottom: 5px;
	padding: 5px 10px;
	padding-left: 0;
	padding-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
.repo_detail_div .repo_contents {
	margin-top: 0;
	text-align: left;
}

.repo_detail_div .repo_description {
	min-height: 200px;
}

.repo_table {
	float: left;
}
.repo_table .table_header {
	padding: 5px 10px;
	padding-left: 0;
	padding-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
.repo_table .repo_table_data {
	padding: 5px 10px;
	padding-left: 0;
	padding-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
.repo_table_data.github_link {
	padding-right: 20px;
}


.commit_list .commitDataRow {
	display: list-item;
	list-style-type: disc;
	list-style-position:outside;
	border: solid whitesmoke;
}
.commit_list .list_data {
	padding: 5px 10px;
	padding-left: 0;
	padding-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}


.user_table #user_search_waiting {
	padding: 30px;
}
.user_table {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #3e4450;
	border-radius: 5px;
}
.user_table .user_table_data {
	padding-right: 60px;
	padding-bottom: 10px;
}

.user_table .user_table_data a {
	padding-left: 25px;
}
.user_table .table_header {
	padding: 5px 10px;
	padding-left: 0px;
	padding-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
.user_table .table_header.left {
	padding-left: 10px;
}
.user_table .user_profile_image {
	height: 80px;
	width: 80px;
	margin-right: 20px;
	background: #555;
	border: solid #61fbdf;
	border-radius: 50%;
	cursor: pointer;
}
.user_table .pagelink.user_page {
	padding-left: 0;
	padding-right: 30px;
	text-decoration: none;
	font-weight: bold;
	color: #00aeff;
}
